

.parallax_group {

  transform-style: preserve-3d;
  min-width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  contain: layout paint;
}

.parallax_layer {
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items:center; */
  /* object-fit: cover; */



}
/* 1 + ((Z transform value * -1) / perspective) */

/* base layer */
.parallax_layer.page_1-base_layer {
  font-size: 100px;
  transform: translateZ(-10px) scale(2);

}
.left-side {
  width: 57%;
}
.right-side {

  width: 43%;
}
.image-container {
  height: 100%;
  width: 60%;

}


.parallax_layer.page_1-mid_layer {
  transform: translateZ(-5px) scale(1.5);
  font-size: 100px;
}


/* top layer */
.parallax_layer.page_1-top_layer {
  /* transform: translateZ(0px) scale(1); */

  background-color: rgba(250, 250, 250, 0.377);
  display:flex;
  
}

.intro-title {
  position: absolute;
  top: 40%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 10px;

}
.topline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 22px;
  letter-spacing: 7px;
}

.intro-title > h1 {
  font-size: 180px;
  line-height: .75em;
}

.devlink-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  position: absolute;
  bottom: 12em;
  right: 8em;
  
}

.devlink {
  cursor: pointer;
  width: 6%;
  pointer-events: auto;
}

