

.parallax_group {

  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  border: 1px solid red;
  
}

.parallax_layer
.h1 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */


}

.parallax_layer.base_layer {
  font-size: 100px;


}

.parallax_layer.mid_layer {
  transform: translateZ(-10px) scale(2);

  font-size: 100px;

}

.parallax_layer.top_layer {
  font-size: 100px;

}