.parallax_group {

  transform-style: preserve-3d;
  min-width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  contain: layout paint;
}

.parallax_layer {
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items:center; */
  /* object-fit: cover; */

}

/* 1 + ((Z transform value * -1) / perspective) */

/* base layer */
.parallax_layer.page_2-base_layer {
  font-size: 100px;
  transform: translateZ(-10px) scale(2);
  display: flex;


}

.parallax_layer.page_2-mid_layer {
  transform: translateZ(-5px) scale(1.5);
  font-size: 100px;
  display: flex;

}

/* top layer */
.parallax_layer.page_2-top_layer {
  /* transform: translateZ(0px) scale(1); */
  display: flex;

}

.project_3.window-1 {
  border: 1px solid red;
  position: absolute;
  height: 10em;
  width: 5em;
}