.project2.parallax_wrapper {


}

.parallax_group {

  
  transform-style: preserve-3d;
  min-width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  contain: layout paint;
  display: flex;
  flex-direction: column;
  
}

.parallax_layer {
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items:center; */
  /* object-fit: cover; */

}

/* 1 + ((Z transform value * -1) / perspective) */

/* base layer */
.parallax_layer.page_3-base_layer {
  font-size: 100px;
  transform: translateZ(-10px) scale(2);
  display: flex;


}

.parallax_layer.page_3-mid_layer {
  transform: translateZ(-5px) scale(1.5);
  font-size: 100px;
  display: flex;

}

/* top layer */
.parallax_layer.page_3-top_layer {
  /* transform: translateZ(0px) scale(1); */
  display: flex;

}


.project_2.img-1 {
  background-color: aqua;
  width: 60%;
  /* height: 50%; */
  position: relative;
  left: 20%;
  top: 30%;
}

.project_2.img-2 {
  background-color: aqua;
  height: 55%;
  width: 45%;
  position: relative;
  left: 15%;
  top: 10%;
  
}

.project_2.left {
  height: 100vh;
  width: 60%;
  overflow: hidden;
  
  border: 1px solid black;

}
.project_2.right {
  height: 100vh;
  width: 40%;
  overflow: hidden;

}

.project_2.window-1 {
  border: 5px solid red;
  width: 60%;
  height: 50%;
  position: relative;
  left: 20%;
  top: 30%;
  box-shadow: 0 0 0 99999px rgb(250, 250, 250);


}
.project_2.window-2 {
  border: 5px solid blue;
  height: 5em;
  width: 3em;
  position: relative;
  left: 15%;
  top: 10%;
  box-shadow: 0 0 0 99999px rgb(250, 250, 250);

}

