* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  /* -ms-overflow-style: none;  Internet Explorer 10+ */
  /* scrollbar-width: none;  Firefox */
  /* scroll-snap-type: x mandatory; */
  /* scroll-padding-top: 5vh; */
}

::-webkit-scrollbar { 
  /* display: none;  Safari and Chrome */
}

ul {
  list-style: none;
}

.container {

  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  /* gap: 100vw; */
  height: 100vh;
  perspective: 10px;
  scroll-snap-type: x mandatory;
  inset: 0;
}
